<div class="cards">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img type="node" class="card" src="../img/nodejs.png">
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img type="bower" class="card" src="../img/bower.png">
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img type="node" class="card" src="../img/nodejs.png">
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img type="gulp" class="card" src="../img/gulp.png">
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img type="bower" class="card" src="../img/bower.png">
            </a>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img type="gulp" class="card" src="../img/gulp.png">
            </a>
        </div>
    </div>
</div>